process {

    withName: SAMTOOLS_VIEW {
        ext.args = '-b -f 4'
        ext.prefix = 'unmapped'
        cpus = 4
        memory = '8 GB'
    }

    withLabel:process_high {
        cpus   = 110
        memory = 200.GB
    }
}


singularity {
    enabled = true
}

podman {
    enabled = false
}
